

<div class="panel-name">Item List</div>
<div class="search-item">
    
    <mat-form-field class="searchbar" floatLabel="always">
        <mat-label>Search Item</mat-label>
        <input
            matInput
            placeholder="Type Here"
            autocomplete="off"
            [formControl]="searchedWord"
            (keyup.enter)="searchItem()"
        />
        <mat-icon matSuffix class="searchbar">search</mat-icon>
        
    </mat-form-field>
    
<!-- <button (click)="getSort('asc')">Name (A-Z)</button>
<button (click)="getSort('desc')">Name (Z-A)</button> -->
</div>

<div class="scrollable-panel">
    <div class="table-header">
        <div class="header-name">Name</div>
        <div class="header-serial">Serial No</div>
        <div class="header-equipment">Equipment Type</div>
        <div class="header-brand">Brand</div>
        <div class="header-desc">Description</div>
        <div class="header-status">Status</div>
        <div class="header-quantity">Quantity</div>
    </div>
    
    <div *ngIf="isFetching" class="loading-overlay">
        <mat-spinner class="loading-spinner"></mat-spinner>
    </div>
    <div *ngIf="itemlist.length === 0 && !isFetching && !noItems" class="loading-overlay">
        <a class="no-items">No items found.....</a>
    </div>
    <div *ngIf="noItems">
        <a class="no-items">Failed to fetch items!</a>
    </div>
    <div class="table-content" *ngIf="!isFetching">
        <table mat-table [dataSource]="itemlist" class="mat-elevation-z8">
            <ng-container matColumnDef="itemPanel">
                <td mat-cell *matCellDef="let item">
                    <app-item-panel [item]="item"></app-item-panel>
                </td>
            </ng-container>
            <tr mat-row *matRowDef="let item; let i = index; columns: ['itemPanel']"></tr>
        </table>
    </div>
</div>

<div class="paginator">
    <mat-paginator
        [length]="pagination.length"
        [pageSize]="pagination.limit"
        [pageSizeOptions]="pagination.pageSizeOption"
        (page)="onPageChange($event)">
    </mat-paginator>
</div>
<!-- conditional buttpn -->
<div class="generate-buttons"  *ngIf="isFaculty()">
    <div class="add-button">
        <button mat-raised-button (click)="addItem()">Add Item</button>
    </div>
    <span class="spacer"></span>
    <div class="report-button">
        <button mat-raised-button>Print</button>
    </div>
</div>